.menu {
    margin: 2vh;
    height: 8vh;
    border-radius: 4vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
        font-size: 0.8rem;
        margin-left: 1vh;
        width: 14.5vh;
        height: 6vh;
        border-radius: 3vh;
        border: 1px solid rgba(13, 110, 253, 0.28);
        background-color: white;
        color: #1f77ef;

        &.active {
            border:none;
            background-color: #e6f1ff;
            color: #0D6EFD;
        }
    }

}

.buttonContainer {
    display: flex;
    flex-direction: column;
    padding: 1.5%;

    .button {
        width: 8%;
        height: 4.5vh;
        margin-bottom: 1.3vh;
        cursor: pointer;
    }
}

.table {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin: 0.5vh 5vh;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}