.container {
    padding: 2%;
    background-color: #e5ebff;
    border-radius: 2vh;
    margin: 4vh;

    h2 {
        padding: 0;
        margin: 0;
    }

    .table {
        margin: 2vh;
        width: 100%;

        thead th {
            text-align: left;
        }
    }
}