.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eaf5ff;
    margin: 20px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 1vh;

    pre{
        border-radius: 1vh;
    }

    .description {

    }
}

.contents{

}